<a href="https://colab.research.google.com/github/Fluffstassy/HW_10/blob/main/PukhovaHW10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Домашнее задание «Библиотека Pandas»

# Задание 1
Скачайте с сайта grouplens.org...movielens/ датасет любого размера. Определите, какому фильму было выставлено больше всего оценок 5.0.

In [ ]:
import pandas as pd

movies = pd.read_csv('movies.csv')  #обращаемся к файлу с фильмами
ratings = pd.read_csv('ratings.csv')  #обращаемся к файлу с рейтингом
ratings = ratings[['movieId','rating']]  #выбираем столбцы из файла рейтинга
joined = ratings.merge(movies, on = 'movieId', how = 'left')  #присоединяем названия фильмов по movieId
maximum = ratings['rating'].max()   #ищем максимальный рейтинг
filter_joined = joined[(joined ['rating'] == maximum)]  #фильтруем по максимальному рейтингу
fr = filter_joined.groupby(['movieId' , 'title'])['movieId'].count()  #группируем по рейтингу и считаем общее кол-во оценок
fr.sort_values(ascending = False).head()  #выводим в порядке убывания

# Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [ ]:
import pandas as pd

power = pd.read_csv('power.csv')
countries = power[(power['country'] == 'Estonia') | (power['country'] == 'Lithuania') | (power['country'] == 'Latvia') ]
fc = countries[(countries['category'] == 4) | (countries['category'] == 12) | (countries['category'] == 21) & (countries['year'] < 2010) & (countries['year'] > 2005)]
print('Потребление стран Прибалтики равно {}КВт'.format(fc['quantity'].sum()))

# Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [ ]:
import pandas as pd

data = pd.read_html('https://fortrader.org/quotes')[1]
data.head()

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Нефть Brent Курс нефти сегодня,93.46,0.0,0.0,NaN
1,Нефть WTI Цены на нефть WTI,87.52,0.0,0.0,NaN
2,Природный газ Цена на природный газ,5.68,0.0,0.0,NaN
3,Кофе,179.65,0.0,0.0,NaN
4,Кукуруза,685.40,0.0,0.0,NaN